$colorClaro: #f8f5f5ec;
$colorBorde: #0e0d0dec;
$colorGris: #4f5b62;
$colorLlanta: #263238;
$colorAzul: #1b1ba0;
$colorFondo: #004d40;
$colorBoton: #39796b;
$colorTitulo: rgba(248, 245, 245, 0.3);


$standar_margin: 130px;
$standar_border: 2px solid $colorTitulo;
$standar_padding: 5px;

$radio: 10%;
$standar_opacity: 0.3;
$spacing: 5px;